<div class="footer">
  <div class="left">
    <h2> First Choice Tutoring&#174; </h2>
    <h3> Copyright &#169; 2016 First Choice Tutoring </h3>
    <h3> Phone: (916) 805 7333 </h3>
    <div class="icons">
      <a target="_blank" href="http://instagram.com/firstchoicetutoring"><i class="fa fa-instagram"></i></a>
      <a target="_blank" href="http://facebook.com/firstchoicetutoring"><i class="fa fa-facebook-square"></i></a>
      <a target="_blank" href="http://twitter.com/FCTTutoring"><i class="fa fa-twitter-square"></i></a>
    </div>
  </div>
</div>
