<div class="header" style="background-image: url('{{ page.splash }}')">
  {% include nav.html %}
  <div class="header-text">
    <h2>First Choice</h2>
    <h1>Tutoring</h1>
    <h3>An investment in your child's future.</h3>
    <div class="button"><a id="schedule">Schedule Now</a></div>
    <div class="button secondary"><a href="/services/">Learn More</a></div>
  </div>

  <div class="tint"></div>
</div>

<div class="quote-bar">

  <div class="quote">
    {% contentblock quote1 %}
  </div>

  <div class="quote">
    {% contentblock quote2 %}
  </div>

  <div class="quote">
    {% contentblock quote3 %}
  </div>

</div>
