<!DOCTYPE HTML>
<html>
  {% include head.html %}
  <body>
  <div class="page-wrap">
  {% include splash.html %}

    <div class="content">
      <h2 id="request"> Request a Consultation </h2>

      <form>
        <input type="text" placeholder="you@email.com"></input>
        <input type="text" id="first" placeholder="First Name"></input>
        <input type="text" id="last" placeholder="Last Name"></input>
        <input type="submit" class="button" value="Request"></input>
      </form>

      {% contentblock block-header %}
      <div class="blocks">
        <div class="block">
          {% contentblock block1 %}
        </div>
        <div class="block">
          {% contentblock block2 %}
        </div>
        <div class="block">
          {% contentblock block3 %}
        </div>
        <div class="block">
          {% contentblock block4 %}
        </div>
      </div>
    </div>
  </div>
  {% include footer.html %}

  <script src="http://code.jquery.com/jquery-latest.min.js"
          type="text/javascript"></script>
  <script>
  $("#schedule").click(function() {
      $('html,body').animate({
          scrollTop: $("#request").offset().top},
          'slow');
  });
  </script>

  </body>
</html>
